.section {
	background-color: #e8edf2;
	&__wrapper {
		&_main {
			display: grid;
			position: relative;
			grid-template-rows: 1fr 1fr;
			row-gap: 3.03vw;
		}
		&_block {
			display: grid;
			position: relative;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			&_bottom {
				grid-template-rows: 28.232vw 20.202vw;
			}
		}
	}
	&__block {
		width: 100%;
		position: relative;
		&_borderR {
			border-right: 1px solid rgba(0, 0, 0, 0.1);
		}
		&_borderL {
			border-left: 1px solid rgba(0, 0, 0, 0.1);
		}
		&_borderT {
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
		&_borderB {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
		&_heading3 {
			div {
				padding-bottom: 15px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				row-gap: 8.081vw;
			}
			.heading3 {
				padding-top: 15px;

				font-weight: 600;
				font-size: 2.525vw;
				line-height: 99%;
				letter-spacing: -0.06em;
				color: #000c24;
			}
			.heading4 {
				font-style: normal;
				font-weight: 600;
				font-size: 0.96vw;
				line-height: 120%;
				letter-spacing: -0.033em;
				color: #0026e7;
			}
		}
	}
	&__heading2 {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		margin-top: 10vw;
		/// h2
		text-align: center;
		font-weight: 500;
		font-size: 3.333vw;
		line-height: 92%;
		text-align: center;
		letter-spacing: -0.04em;
		color: #000c24;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		span {
			color: #0026e7;
		}
	}
	&__sfera {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		img {
			width: 37.02vw;
			height: 37.02vw;
		}
	}
	&__form {
		position: absolute;
		right: 3.182vw;
		top: 0.758vw;
		width: 42.273vw;
		z-index: 2;
	}
	&__asideHeading {
		text-align: start;
		position: absolute;
		bottom: 2.98vw;
		font-weight: 500;
		font-size: 0.758vw;
		line-height: 99%;
		text-transform: uppercase;
		color: #000c24;
		opacity: 0.1;
		left: 3.03vw;
		&_left {
			right: 3.03vw;
			left: auto;
		}
	}
}
